@font-face {
    font-family: 'Eng_bold';
    src: url('../fonts/Akzidenz-Grotesk Pro/AkzidGroProBol.otf');
}
@font-face {
    font-family: 'Eng_light';
    src: url('../fonts/Akzidenz-Grotesk Pro/AkzidGroProLig.otf');
}

@font-face {
    font-family: 'Thai_bold';
    src: url('../fonts/SukhumvitSet/SukhumvitSet-Bold.ttf');
}
@font-face {
    font-family: 'Thai_med';
    src: url('../fonts/SukhumvitSet/SukhumvitSet-Medium.ttf');
}
@font-face {
    font-family: 'Thai_thin';
    src: url('../fonts/SukhumvitSet/SukhumvitSet-Thin.ttf');
}

@font-face {
    font-family: 'Thai_Neuethin';
    src: url('../fonts/ThaiSansNeue/ThaiSansNeue-ExtraLight.ttf');
}
